// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
