<template>
    <div class="'col-sm-'+ (sm || '6') + ' col-md-'+ (md || '4')">
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top" v-bind:src="imagem" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <small>{{data | formataData}} - {{autor}}</small>
                <p class="card-text">{{descricao}}</p>
                <a v-bind:href="link" class="btn btn-primary">Ler Mais</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['titulo', 'descricao', 'link', 'imagem', 'data', 'autor', 'sm', 'md'],
        filters: {
            formataData: function(valor){
                if(!valor) return '';
                valor = valor.toString();
                valor = valor.split('-');
                return valor[2]+'/'+valor[1]+'/'+valor[0];
            }
        }

    }
</script>