<template>
    <div v-bind:class="defineCor" style="max-width: 18rem;">
        <div class="card-header">{{header}}</div>
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text">{{conteudo}}</p>
            </div>
        </div>
</template>

<script>
    export default {
        props: ['header', 'titulo','conteudo', 'cor'],
        computed:{
            defineCor: function(){
                return "card text-white "+ (this.cor || "bg-primary") + " mb-3"
            }
        }
    }
</script>

<style media="screen">
.azul {
    background-color: #004a87 !important;
}

.verde {
    background-color: #005223 !important;
}

.roxo {
    background-color: #420299 !important;
}

</style>
