<template>


    <qrcode-capture @detect="onDetect" />
</template>

<script>
    export default {
        methods: {
            async onDetect (promise) {
                try {
                    const {
                        imageData,    // raw image data of image/frame
                        content,      // decoded String or null
                        location      // QR code coordinates or null
                    } = await promise

                    if (content === null) {
                        // decoded nothing
                    } else {
                        // ...
                    }
                } catch (error) {
                    // ...
                }
            }
        }

    }
</script>
