<template>


    <qrcode-stream @detect="onDetect"></qrcode-stream>
</template>

<script>
    export default {
        methods: {
            async onDetect (promise) {
                try {
                    const {
                        imageData,    // raw image data of image/frame
                        content,      // decoded String
                        location      // QR code coordinates
                    } = await promise

                    // ...
                } catch (error) {
                    // ...
                }
            }
        }

    }
</script>
