<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <!-- Branding Image -->
                <a class="navbar-brand" v-bind:href="url">
                    {{ titulo }}
                </a>

                <!-- Collapsed Hamburger -->
                <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    &nbsp;
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <slot></slot>
                </ul>
            </div>
        </div>
    </nav>

</template>

<script>
    export default {
        props:['titulo','url']

    }
</script>
